---
import Layout from "../../layouts/Layout.astro";
import { movies } from "../../../movies.json";

const { idMovie } = Astro.params;

const movieFound = movies.find((movie) => movie.title === idMovie);
if (!movieFound) return Astro.redirect("/404");  

const { title, image, genre, director, actors, synopsis, trailer } = movieFound;

---

<Layout title="MisPeliculas | Proyecto">
    <section class="flex flex-col gap-5 lg:flex-row -full w-full items-center lg:items-start">
        <article
            class="flex flex-col items-center rounded-lg bg-bgs p-4 max-w-[300px] "
            transition:name=`movie ${idMovie} link`
        >
            <picture class="overflow-hiddn rounded-lg">
                <img
                    class="w-full max-w-[200px] [aspect-ratio:1/1.4] transition-all duration-300 object-cover rounded-sm"
                    src={image}
                    alt={title}
                    transition:name=`movie ${idMovie} image`
                />
            </picture>
            <div class="flex flex-col gap-2 items-center">
                <p class="text-xs text-sky-400">{genre}</p>
                <h1 class="text-2xl font-bold">{title}</h1>
                <span class="text-xs text-sky-50/40 text-center">{director}</span>
                <span class="text-xs text-sky-50/40 text-center">{actors.join(", ")}</span>
                <p class="text-sm text-pretty text-sky-50/80">{synopsis}</p>
            </div>
        </article>

        <div class="video w-full h-full">
            <iframe  class="w-full min-h-full aspect-video" src={trailer} allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </section>
</Layout>

<style>
    .ver{
        scrollbar-width: thin;
        scrollbar-color: #38bdf880 #00000000;
        scroll-behavior: smooth;
        transition: left 500ms cubic-bezier(0, 0.11, 0.35, 2);
    }
</style>
